body {
    background-color: #1F2022;
    overflow-y: auto;
}

div {
    height: 200px;
    width: 800px;
    background: transparent;

    position: relative;
    left: 50%;
    margin-top: 50px;
    margin-left: -400px;

    text-align: center;
    -webkit-transform: translateZ(0); /* Force repaint */
}

h1 {
    color: white;
    font-size: 120px;
}

h3 {
    color: white;
}

p {
    line-height: 1.4;
    color: white;
    text-align: center;
}

h6 {
    font-size: medium;
    font-weight: normal !important;
    color: white !important;
    text-align: center;
    -webkit-text-fill-color: white !important;
}

a {
    outline-color: transparent;
}

a:link {
    color: #A569BD;
}

a:visited {
    color: #A569BD;
}

a:focus {
    text-decoration: none;
    background: #bae498;
}

a:hover {
    text-decoration: none;
    background: #cdfeaa;
}

a:active {
    background: #A569BD;
    color: #cdfeaa;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    -webkit-object-fit: contain; /* Added for Safari */
}

@media (max-width: 768px) {
    div {
        position: relative;
        width: 400px;
        height: 1200px;
        margin-left: -200px;
        padding: 10px;
        margin-top: 0px;
        overflow-x: auto;
        -webkit-transform: translateZ(0); /* Force repaint for Mobile Safari */
    }

    img {
        max-height: 80%;
        max-width: 80%;
        -webkit-object-fit: contain; /* Added for Safari */
    }
}
