body {
    background-color: #1F2022;
    overflow-y: auto;
}

div {
    height: 200px;
    width: 800px;
    background: transparent;

    position: relative;
    /*top: 50%;*/
    left: 50%;
    margin-top: 50px;
    margin-left: -400px;

    text-align: center;
}

h1 {
    color: white;
    font-size: 120px;
}

h3 {
    color: white;
}

p {
    line-height: 1.4;
    color: white;
    text-align: center;
}

a {
    outline-color: transparent;
}

a {
    outline-color: transparent;
    text-decoration: none;
}

a:link {
    color: #A569BD;
}

a:visited {
    color: #A569BD;
}

a:focus {
    text-decoration: none;
    background: #bae498;
}

a:hover {
    text-decoration: none;
    background: #cdfeaa;
}

a:active {
    background: #A569BD;
    color: #cdfeaa;
}

img {
    max-height: 120%;
    max-width: 120%;
    object-fit: contain;
}

@media (max-width: 768px) {
    div {
        position: relative;
        width: 400px;
        height: 1200px;
        margin-left: -200px;
        padding:10px;
        margin-top: 0px;
        overflow-x: auto;
    }

    img {
        max-height: 80%;
        max-width: 80%;
    }
}